(
	// RON is inconvenient because i can't get the type of `material` here, so having this exterior type field is necessary.
	type: Some("StandardMaterial"),

	material: Some(StandardMaterial(
		base_color_texture: Some("example.png"),
		alpha_mode: Mask(0.5),
	)),

	properties: Some({
		"visibility": Visible,
		"collision": true,
		"sounds": "wood",
	})
)
